.Navbar {
  display: flex;
  justify-content: space-between;
  padding: 10px 50px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.content {
  display: flex;
  flex-direction: column;
}
.message-board {
  display: flex;
  flex-direction: column-reverse;
  margin: 25px;
}
.message-input-wrapper {
  margin: 10px 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}
.form-wrapper {
  max-width: 90%;

  display: flex;
}
.message-wrapper {
  padding: 10px 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.message-text-wrapper {
  width: 85%;
}
.message-icons-wrapper {
  width: 10%;
  display: flex;
  justify-content: space-around;
}
.icon {
  cursor: pointer;
}
input {
  padding: 20px;
}
.extended-input-size {
  width: 100ch;
}

.edit-message {
  height: 200px;
  background-color: rgb(196, 186, 186);
  position: absolute;
  top: 200px;
  box-shadow: 200px 200px 200px 0 rgba(19, 18, 18, 0.2);
  z-index: 990;
}
