.content {
  display: flex;
  flex-direction: row;
}
.message-board {
  width: 75%;
  margin: 25px;
}
.message-input-wrapper {
  width: 25%;
  margin: 100px 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}
.form-wrapper {
  display: flex;
  flex-direction: column;
}
.message-wrapper {
  background-color: gray;
}
